<%-include("../../partials/header")%>

    
<%if(wallet){%>
        <div class="row ">
            <div class="col-12">
                
                <div class="card-wrapper">
            <!-- Form controls -->
            <div class="card">
              
              <!-- Card body -->
              <div class="card-body">
                <%if(wallet.w_type === "mobile"){%>
                  <form class="form" id="mobile">
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="fullname" class="font-weight-bold"> Fullname</label>
                  
                        <input id="fullname" type="text" class="form-control form-control-lg" required placeholder="Enter Fullname" value="<%=wallet.w_fullname%>">
                      </div>
                    </div>
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="phone" class="font-weight-bold"> Phone Number</label>
                  
                        <input id="phone" type="text" class="form-control form-control-lg" required placeholder="Enter Phone Number" value="<%=wallet.w_phone_number%>">
                      </div>
                    </div>
                  
                    <%-include("./partials/buttons")%>
                  
                  </form>
                <%}else if(wallet.w_type === "bank"){%>
                  <form class="form" id="bank">
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="number" class="font-weight-bold"> Bank Account Number</label>
                  
                        <input id="number" type="text" class="form-control form-control-lg" required
                          placeholder="Enter Bank Account Number" value="<%=wallet.w_account_number%>">
                      </div>
                    </div>
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="name" class="font-weight-bold"> Bank Account Name</label>
                  
                        <input id="name" type="text" class="form-control form-control-lg" required placeholder="Enter Bank Account Name" value="<%=wallet.w_account_name%>">
                      </div>
                    </div>
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="bankName" class="font-weight-bold"> Bank Name</label>
                  
                        <input id="bankName" type="text" class="form-control form-control-lg" required placeholder="Enter Bank Name" value="<%=wallet.w_account_bank_name%>">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="type" class="font-weight-bold"> Bank Account Type</label>
                  
                        <input id="type" type="text" class="form-control form-control-lg" required placeholder="Enter Bank Account Type" value="<%=wallet.w_account_bank_type%>">
                      </div>
                    </div>
                  
                    <%-include("./partials/buttons")%>
                  
                  </form>
                <%}else{%>
                  <form class="form" id="crypto">
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="coiname" class="font-weight-bold"> Coin Name</label>
                  
                        <input id="coiname" type="text" class="form-control form-control-lg" required placeholder="Solana" value="<%=wallet.w_coin_name%>">
                      </div>
                    </div>
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="address" class="font-weight-bold"> Coin Address</label>
                  
                        <input id="address" type="text" class="form-control form-control-lg" required
                          placeholder="2zAbHUpE4MRgEwq1MWh3i9aJyzazSjUUPrmhNViqQn5W" value="<%=wallet.w_coin_address%>">
                      </div>
                    </div>
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="network" class="font-weight-bold"> Coin Network</label>
                  
                        <input id="network" type="text" class="form-control form-control-lg" required placeholder="BEP20" value="<%=wallet.w_coin_network%>">
                      </div>
                    </div>
                  
                    <div class="col-md-12">
                      <div class="form-group mt-4">
                        <label for="memo" class="font-weight-bold"> Coin Memo</label>
                  
                        <input id="memo" type="text" class="form-control form-control-lg" placeholder="Memo (Optional)" value="<%=wallet.w_coin_memo%>">
                      </div>
                    </div>
                  
                    <%-include("./partials/buttons")%>
                  
                  </form>
                <%}%>
              </div>
            </div>
            
          </div>


            </div>
        </div>

<%}else{%>

    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">You Have No Wallet At The Moment <br><br>
                    <a data-bs-toggle="modal" data-bs-target="#new-wal" href="javascript:void(0)"
                        class="btn btn-primary centerme">Create New Wallet</a>
                </h5>
        
            </div>
        </div>

    </div>




<%-include("./modal/newWallet")%>


<%}%>

<script src="/user/js/user/wallet/wallet.js"></script>
<%-include("../../partials/footer")%>