<%-include("./partials/header")%>
                    
<div class="card overflow-hidden">
    <div class="bg-primary bg-soft">
        <div class="row">
            <div class="col-7">
                <div class="text-primary p-4">
                    <h5 class="text-primary">Forgot Password!</h5>
                    <p>Don't Panic We Got You Covered, Just Input Your Account Username Or Email To Begin The
                    Process.</p>
                </div>
            </div>
            <div class="col-5 align-self-end">
                <img src="/user/images/profile-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div>
            <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                        <img src="<%=websiteDetails.website_favicon %>" alt="" class="rounded-circle" height="34">
                    </span>
                </div>
            </a>
        </div>
        <div class="p-2">
            <form id="forgot" class="needs-validation">

                <div class="mb-3">
                    <label for="credentials" class="form-label">Username Or E-mail</label>
                    <input type="text" class="form-control" id="credentials" placeholder="Enter Username Or E-mail" required>
                    
                </div>
                
            
                <div class="mt-4 d-grid">
                    <button id="submit" class="btn btn-primary waves-effect waves-light"
                        type="submit">Proceed</button>
                </div>

                
                
                
            </form>
        </div>

    </div>
</div>

<div class="mt-5 text-center">

    <div>
        
        <p>©
            <script>document.write(new Date().getFullYear())</script> <%=websiteDetails.website_title %>. Designed with <i
                class="mdi mdi-heart text-danger"></i> by <a href="<%=websiteDetails.website_dev_link %>"><%=websiteDetails.website_dev_name %></a>
        </p>
    </div>
</div>

<script src="/user/js/auth/forgot.js"></script>
<%-include("./partials/footer")%>