

<%-include("../partials/header")%>
        <div data-elementor-type="wp-post" data-elementor-id="2238" class="elementor elementor-2238"
            data-elementor-settings="[]">
            <div class="elementor-section-wrap">
<section
    class="elementor-section elementor-top-section elementor-element elementor-element-bfb7f37 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="bfb7f37" data-element_type="section">
    <div id="dl_parallax_ele-bfb7f37" class="dl_parallax_ele-wrapper"></div>
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9da67f9"
            data-id="9da67f9" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-2f11cc1 elementor-widget elementor-widget-saasland_hero_seo"
                    data-id="2f11cc1" data-element_type="widget" data-widget_type="saasland_hero_seo.default">
                    <div class="elementor-widget-container">
                        <section class="seo_home_area">
                            <div class="home_bubble">
                                <div class="bubble b_one"></div>
                                <div class="bubble b_two"></div>
                                <div class="bubble b_three"></div>
                                <div class="bubble b_four"></div>
                                <div class="bubble b_five"></div>
                                <div class="bubble b_six"></div>
                            </div>
                            <div class="banner_top">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center seo_banner_content">
                                            <h1 class="title typewrite_title wow fadeInUp" data-wow-delay="0.3s"
                                                style="visibility: visible; animation-delay: 0.3s;">
                                                Earn Big With Our Powerful Mining Bot</h1>
                                            <p class="subtitle wow fadeInUp" data-wow-delay="0.5s"
                                                style="visibility: visible; animation-delay: 0.5s;">
                                                Active a seamlessly & profitable mining subscription!</p>
                                            <a href="/user/packages"
                                                class="seo_btn_one seo_btn btn_hover elementor-repeater-item-2f2de37">
                                                Get Started </a><a href="/page/learn-more"
                                                class="seo_btn_two seo_btn btn_hover elementor-repeater-item-de7b612">
                                                Learn More </a>
                                        </div>
                                    </div>
                                    <div class="saas_home_img wow fadeInUp" data-wow-delay="0.8s"
                                        style="visibility: visible; animation-delay: 0.8s;">
                                        <img src="/home/img/Android-bro.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-7d497e14 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="7d497e14" data-element_type="section">
                    <div id="dl_parallax_ele-7d497e14" class="dl_parallax_ele-wrapper"></div>
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-60f04fea"
                            data-id="60f04fea" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-fe859d0 elementor-widget elementor-widget-heading"
                                    data-id="fe859d0" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.5.6 - 28-02-2022 */
                                            .elementor-heading-title {
                                                padding: 0;
                                                margin: 0;
                                                line-height: 1
                                            }

                                            .elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a {
                                                color: inherit;
                                                font-size: inherit;
                                                line-height: inherit
                                            }

                                            .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                                font-size: 15px
                                            }

                                            .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                                font-size: 19px
                                            }

                                            .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                                font-size: 29px
                                            }

                                            .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                                font-size: 39px
                                            }

                                            .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                                font-size: 59px
                                            }
                                        </style>
                                        <h2 class="elementor-heading-title elementor-size-default">Why People Choose Us?
                                        </h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-22efbfdb elementor-widget elementor-widget-text-editor"
                                    data-id="22efbfdb" data-element_type="widget"
                                    data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.5.6 - 28-02-2022 */
                                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                                background-color: #818a91;
                                                color: #fff
                                            }

                                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                                color: #818a91;
                                                border: 3px solid;
                                                background-color: transparent
                                            }

                                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                                margin-top: 8px
                                            }

                                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                                width: 1em;
                                                height: 1em
                                            }

                                            .elementor-widget-text-editor .elementor-drop-cap {
                                                float: left;
                                                text-align: center;
                                                line-height: 1;
                                                font-size: 50px
                                            }

                                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                                display: inline-block
                                            }
                                        </style>
                                        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s"
                                            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                            <p>Here are features we offer that make people to fall in love with the system</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="pb-5 elementor-section elementor-top-section elementor-element elementor-element-b98d7d0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="b98d7d0" data-element_type="section">
                    <div id="dl_parallax_ele-b98d7d0" class="dl_parallax_ele-wrapper"></div>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ac5271a"
                            data-id="ac5271a" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-3e6ec8e elementor-widget elementor-widget-image"
                                    data-id="3e6ec8e" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <style>
                                            /*! elementor - v3.5.6 - 28-02-2022 */
                                            .elementor-widget-image {
                                                text-align: center
                                            }

                                            .elementor-widget-image a {
                                                display: inline-block
                                            }

                                            .elementor-widget-image a img[src$=".svg"] {
                                                width: 48px
                                            }

                                            .elementor-widget-image img {
                                                vertical-align: middle;
                                                display: inline-block
                                            }
                                        </style><img
                                            src="/home/wp-content/uploads/2019/02/icon1-2.png"
                                            class="attachment-large size-large" alt="Icon" loading="lazy" width="70"
                                            height="52">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-974eda0 elementor-widget elementor-widget-heading"
                                    data-id="974eda0" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default"><a href="/user/packages">Profitable Subscriptions</a></h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-6d45ab8 elementor-widget elementor-widget-text-editor"
                                    data-id="6d45ab8" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>All subscription plans are tailored to suite your perfect needs, and slice down according to your pocket.</p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5679195 elementor-view-default elementor-widget elementor-widget-saasland_icons"
                                    data-id="5679195" data-element_type="widget"
                                    data-widget_type="saasland_icons.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-icon-wrapper">
                                            <a class="elementor-icon" href="/user/packages">
                                                <i aria-hidden="true" class="arrow_right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0f497b7"
                            data-id="0f497b7" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-af680a3 elementor-widget elementor-widget-image"
                                    data-id="af680a3" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img src="/home/wp-content/uploads/2019/02/icon2-1.png"
                                            class="attachment-large size-large" alt="Icon" loading="lazy" width="50"
                                            height="52">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5d521ff elementor-widget elementor-widget-heading"
                                    data-id="5d521ff" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default"><a href="/user/withdrawal">Fast Withdrawal</a></h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-6ca1673 elementor-widget elementor-widget-text-editor"
                                    data-id="6ca1673" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>No single delay on our withdrawal system, it is fast as flash once you request for withdrawal.</p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-4367f0e elementor-view-default elementor-widget elementor-widget-saasland_icons"
                                    data-id="4367f0e" data-element_type="widget"
                                    data-widget_type="saasland_icons.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-icon-wrapper">
                                            <a class="elementor-icon" href="/user/withdrawal">
                                                <i aria-hidden="true" class="arrow_right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2ffa7c7"
                            data-id="2ffa7c7" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-036f787 elementor-widget elementor-widget-image"
                                    data-id="036f787" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img src="/home/wp-content/uploads/2019/02/icon5.png"
                                            class="attachment-large size-large" alt="Icon" loading="lazy" width="68"
                                            height="52">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1435447 elementor-widget elementor-widget-heading"
                                    data-id="1435447" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default"><a href="/contact-us">24/7 Customer Support</a></h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-3684dc4 elementor-widget elementor-widget-text-editor"
                                    data-id="3684dc4" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>Communication is a key to successful system, with our 24/7 active agents availability, we will always answer you promptly</p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-497f76d elementor-view-default elementor-widget elementor-widget-saasland_icons"
                                    data-id="497f76d" data-element_type="widget"
                                    data-widget_type="saasland_icons.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-icon-wrapper">
                                            <a class="elementor-icon" href="/contact-us">
                                                <i aria-hidden="true" class="arrow_right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-b559489 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default drdt-ignore-dark pt-5"
                    data-id="b559489" data-element_type="section">
                    <div id="dl_parallax_ele-b559489" class="dl_parallax_ele-wrapper"></div>
                    <div class="elementor-container elementor-column-gap-default drdt-ignore-dark">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f334a04 drdt-ignore-dark"
                            data-id="f334a04" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                <div class="elementor-element elementor-element-0bae376 elementor-widget elementor-widget-heading drdt-ignore-dark"
                                    data-id="0bae376" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container drdt-ignore-dark">
                                        <h2 class="elementor-heading-title elementor-size-default drdt-ignore-dark">How to get started.</h2>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-9e66304 elementor-widget elementor-widget-text-editor drdt-ignore-dark"
                                    data-id="9e66304" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container drdt-ignore-dark">
                                        <p class="drdt-ignore-dark">Join <%=websiteDetails.website_title %> and start earning immediately, follow simple steps below.!</p>
                                    </div>
                                </div>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-34c5e94 elementor-section-boxed elementor-section-height-default drdt-ignore-dark"
                                    data-id="34c5e94" data-element_type="section">
                                    <div id="dl_parallax_ele-34c5e94" class="dl_parallax_ele-wrapper"></div>
                                    <div class="elementor-container elementor-column-gap-no drdt-ignore-dark">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d80252e drdt-ignore-dark"
                                            data-id="d80252e" data-element_type="column">
                                            <div
                                                class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                                <div class="elementor-element elementor-element-19c0354 elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-saasland_icons drdt-ignore-dark"
                                                    data-id="19c0354" data-element_type="widget"
                                                    data-widget_type="saasland_icons.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <div class="elementor-icon-wrapper drdt-ignore-dark">
                                                            <div class="elementor-icon drdt-ignore-dark">
                                                                <i aria-hidden="true"
                                                                    class="ti-key drdt-ignore-dark"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-654fc11 drdt-ignore-dark"
                                            data-id="654fc11" data-element_type="column">
                                            <div
                                                class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                                <div class="elementor-element elementor-element-822d1c3 elementor-widget elementor-widget-heading drdt-ignore-dark"
                                                    data-id="822d1c3" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <h2
                                                            class="elementor-heading-title elementor-size-default drdt-ignore-dark">
                                                            Signup </h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-4fe67cf elementor-widget elementor-widget-text-editor drdt-ignore-dark"
                                                    data-id="4fe67cf" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <p class="drdt-ignore-dark">Signup by filling necessary details, verify your account and signin.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-15db230 elementor-section-boxed elementor-section-height-default drdt-ignore-dark"
                                    data-id="15db230" data-element_type="section">
                                    <div id="dl_parallax_ele-15db230" class="dl_parallax_ele-wrapper"></div>
                                    <div class="elementor-container elementor-column-gap-no drdt-ignore-dark">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-66cf775 drdt-ignore-dark"
                                            data-id="66cf775" data-element_type="column">
                                            <div
                                                class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                                <div class="elementor-element elementor-element-9bb855d elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-saasland_icons drdt-ignore-dark"
                                                    data-id="9bb855d" data-element_type="widget"
                                                    data-widget_type="saasland_icons.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <div class="elementor-icon-wrapper drdt-ignore-dark">
                                                            <div class="elementor-icon drdt-ignore-dark">
                                                                <i aria-hidden="true"
                                                                    class="ti-briefcase drdt-ignore-dark"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-abb410a drdt-ignore-dark"
                                            data-id="abb410a" data-element_type="column">
                                            <div
                                                class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                                <div class="elementor-element elementor-element-c5173fe elementor-widget elementor-widget-heading drdt-ignore-dark"
                                                    data-id="c5173fe" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <h2
                                                            class="elementor-heading-title elementor-size-default drdt-ignore-dark">
                                                            Subscribe</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6dbbd80 elementor-widget elementor-widget-text-editor drdt-ignore-dark"
                                                    data-id="6dbbd80" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        Choose your preferred subscription plan and complete the process with either purchased coupon code or crypto gateway.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="elementor-section elementor-inner-section elementor-element elementor-element-15db230 elementor-section-boxed elementor-section-height-default drdt-ignore-dark"
                                    data-id="15db230" data-element_type="section">
                                    <div id="dl_parallax_ele-15db230" class="dl_parallax_ele-wrapper"></div>
                                    <div class="elementor-container elementor-column-gap-no drdt-ignore-dark">
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-66cf775 drdt-ignore-dark"
                                            data-id="66cf775" data-element_type="column">
                                            <div
                                                class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                                <div class="elementor-element elementor-element-9bb855d elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-saasland_icons drdt-ignore-dark"
                                                    data-id="9bb855d" data-element_type="widget"
                                                    data-widget_type="saasland_icons.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <div class="elementor-icon-wrapper drdt-ignore-dark">
                                                            <div class="elementor-icon drdt-ignore-dark">
                                                                <i aria-hidden="true"
                                                                    class="ti-shine drdt-ignore-dark"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-abb410a drdt-ignore-dark"
                                            data-id="abb410a" data-element_type="column">
                                            <div
                                                class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                                <div class="elementor-element elementor-element-c5173fe elementor-widget elementor-widget-heading drdt-ignore-dark"
                                                    data-id="c5173fe" data-element_type="widget"
                                                    data-widget_type="heading.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        <h2
                                                            class="elementor-heading-title elementor-size-default drdt-ignore-dark">
                                                            Active Mining Engine</h2>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-6dbbd80 elementor-widget elementor-widget-text-editor drdt-ignore-dark"
                                                    data-id="6dbbd80" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container drdt-ignore-dark">
                                                        Enter into your mining dashboard and start the mining engine, the system will assign a bot to you that will be mining in the background for you.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0aa2a8c drdt-ignore-dark"
                            data-id="0aa2a8c" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                <div class="elementor-element elementor-element-20e061b elementor-widget elementor-widget-saasland_featured_image drdt-ignore-dark"
                                    data-id="20e061b" data-element_type="widget"
                                    data-widget_type="saasland_featured_image.default">
                                    <div class="elementor-widget-container drdt-ignore-dark">
                                        <div class="seo_features_img drdt-ignore-dark">
                                            <div class="round_circle drdt-ignore-dark"></div>
                                            <div class="round_circle two drdt-ignore-dark"></div>
                                            <img src="/home/wp-content/uploads/2019/02/features_img.png"
                                                class="attachment-full size-full drdt-ignore-dark" alt="Graphics"
                                                loading="lazy"
                                                srcset="/home/wp-content/uploads/2019/02/features_img.png 500w, /home/wp-content/uploads/2019/02/features_img-290x300.png 290w"
                                                sizes="(max-width: 500px) 100vw, 500px" width="500" height="517">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-75680c7 elementor-section-full_width elementor-section-height-default drdt-ignore-dark"
                    data-id="75680c7" data-element_type="section">
                    <div id="dl_parallax_ele-75680c7" class="dl_parallax_ele-wrapper"></div>
                    <div class="elementor-container elementor-column-gap-no drdt-ignore-dark">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e2bcf42 drdt-ignore-dark"
                            data-id="e2bcf42" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                <div class="elementor-element elementor-element-69264bf elementor-widget elementor-widget-saasland_curve_counter drdt-ignore-dark"
                                    data-id="69264bf" data-element_type="widget"
                                    data-widget_type="saasland_curve_counter.default">
                                    <div class="elementor-widget-container drdt-ignore-dark">
                                        <section class="seo_fact_area sec_pad drdt-ignore-dark">
                                            <div class="home_bubble drdt-ignore-dark">
                                                <div class="bubble b_one drdt-ignore-dark"></div>
                                                <div class="bubble b_three drdt-ignore-dark"></div>
                                                <div class="bubble b_four drdt-ignore-dark"></div>
                                                <div class="bubble b_six drdt-ignore-dark"></div>
                                                <div class="triangle b_eight drdt-ignore-dark"
                                                    data-parallax="{&quot;x&quot;: 120, &quot;y&quot;: -10}"
                                                    style="transform:translate3d(120px, -10px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(120px, -10px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); ">
                                                    <img src="/home/wp-content/plugins/saasland-core/widgets/images/seo/triangle_one.png"
                                                        alt="Triangle Image" class="drdt-ignore-dark">
                                                </div>
                                            </div>
                                            <div class="container drdt-ignore-dark">
                                                <div class="seo_sec_title text-center mb_70 wow fadeInUp drdt-ignore-dark"
                                                    data-wow-delay="0.3s"
                                                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                                    <h2 class="drdt-ignore-dark">Paper Doesn't Lie, Check Our Stats</h2>
                                                </div>
                                                <div class="seo_fact_info drdt-ignore-dark">
                                                    
                                                    <div class="seo_fact_item drdt-ignore-dark">
                                                        <div class="text drdt-ignore-dark">
                                                            <div
                                                                class="counter one elementor-repeater-item-4172c8d drdt-ignore-dark">
                                                                <%=totalUsers%></div>
                                                            <p class="drdt-ignore-dark"> Satisfied Users</p>
                                                        </div>
                                                    </div>
                                                    <div class="seo_fact_item drdt-ignore-dark">
                                                        <div class="text drdt-ignore-dark">
                                                            <div
                                                                class="counter one elementor-repeater-item-2cee0c4 drdt-ignore-dark">
                                                                <%=websiteDetails.website_currency + (totalWithdrawal.toLocaleString())%></div>
                                                            <p class="drdt-ignore-dark"> Withdrawals</p>
                                                        </div>
                                                    </div>
                                                    <div class="seo_fact_item last drdt-ignore-dark">
                                                        <div class="text drdt-ignore-dark">
                                                            <div
                                                                class="counter one elementor-repeater-item-85cf51d drdt-ignore-dark">
                                                                <%=liveMiners%></div>
                                                            <p class="drdt-ignore-dark"> Live Miners</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                
                <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-63f753f elementor-section-boxed elementor-section-height-default drdt-ignore-dark"
                    data-id="63f753f" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div id="dl_parallax_ele-63f753f" class="dl_parallax_ele-wrapper"></div>
                    <div class="elementor-container elementor-column-gap-default drdt-ignore-dark">
                        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-6c78d77 drdt-ignore-dark"
                            data-id="6c78d77" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                <div class="elementor-element elementor-element-753f93c elementor-widget elementor-widget-heading drdt-ignore-dark"
                                    data-id="753f93c" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container drdt-ignore-dark">
                                        <h2 class="elementor-heading-title elementor-size-default drdt-ignore-dark">
                                            Ready to get started? <br class="drdt-ignore-dark">
                                            It's fast, covenient, profitable and very easy!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f2dcdc6 drdt-ignore-dark"
                            data-id="f2dcdc6" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated drdt-ignore-dark">
                                <div class="elementor-element elementor-element-5667a88 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button drdt-ignore-dark"
                                    data-id="5667a88" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container drdt-ignore-dark">
                                        <div class="elementor-button-wrapper drdt-ignore-dark">
                                            <a href="/register"
                                                class="elementor-button-link elementor-button elementor-size-sm drdt-ignore-dark"
                                                role="button">
                                                <span class="elementor-button-content-wrapper drdt-ignore-dark">
                                                    <span class="elementor-button-text drdt-ignore-dark">Get Started</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
    
        <%-include("../partials/footer")%>