<%-include("../partials/header")%>

<%-include("./blog/css.ejs")%>
        <section class="breadcrumb_area ">
            <img src="/home/wp-content/themes/saasland/assets/img/banner_bg.png"
                class="breadcrumb_shap"
                alt="<%=page.page_title%>">
            <div class="container">
                <div class="breadcrumb_content_two text-center text-white">
              
                    <h1 class="text-white"> <%=page.page_title%></h1>
                    
                </div>
            </div>
        </section>


        <section class="blog_area blog_area_two sec_pad">
            <div class="container">
                <div class="row">
                    
                    <div class="col-12 blog_single_info">
                        <div
                            class="blog_list_item blog_list_item_two post-578 post type-post status-publish format-audio has-post-thumbnail hentry category-featured category-food-for-thought tag-saas tag-software tag-ui-ux-design post_format-post-format-audio">
                            
                          
                            <div class="blog_content">
                                
                                <%-page.page_description%>


                                
                            </div>
                        </div>
                        
                    </div>


                </div>
            </div>
        </section>




<%-include("../partials/footer")%>